<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <style>

        body {
            background: #f5f5f5;
        }

        .container {
            font-family: Poppins;
            max-width: 500px;
            margin: auto;
        }


        .header {
            font-weight: 700;
            color: #171735;
            text-align: center;
            padding: 15px;
            font-size: 1.4rem;
            background: #F0B90B;
            border-radius: 10px 10px 0 0;
        }

        .body {
            background: white;
            border: 1px solid #eee;
            padding: 15px;
            border-radius: 0 0 10px 10px;
        }

        p {
            font-size: .9rem
        }

        .body h1 {
            font-size: 1.5rem;
            padding: 0px;
            margin: 0px;
        }

        .block-confirm-code {
            background: #eee;
            text-align: center;
            padding: 10px;
            font-size: 2rem;
            font-weight: bold;
            border-radius: 10px;
        }


        .footer {
            text-align: center;
        }

        .footer hr {
            border-color: #eee;
            background: #eee;
        }

        .text-muted {
            color: #aaa;
            font-weight: normal;
        }

        .footer-copy p {
            font-size: .7rem !important ;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        KriptoKu
    </div>
    <div class="body">
        <h1>Halo, <%= user.name %> </h1>

        <p>
            Kami harap Anda dalam keadaan baik. Kami menulis untuk memberitahukan bahwa panggilan margin telah terpicu pada akun perdagangan Anda. Penting bagi Anda untuk segera mengambil tindakan untuk memperbaiki situasi ini guna memastikan kelangsungan operasi akun Anda.
        </p>

        <p>
        Panggilan margin ini telah dimulai karena penurunan nilai investasi Anda. Akibatnya, ekuitas dalam akun Anda telah jatuh di bawah level margin pemeliharaan yang diperlukan, sebagaimana dijelaskan dalam perjanjian kami dan regulasi industri. Ini berarti Anda perlu menambahkan dana ke akun Anda segera untuk mengembalikan level margin yang diperlukan.
        </p>
        <p>
            Untuk memenuhi panggilan margin dan menjaga fungsionalitas akun Anda, kami mohon Anda mengikuti langkah-langkah berikut:
        
        </p>        
        <p>
            Tinjau laporan akun Anda: Teliti laporan akun Anda untuk memahami jumlah yang tepat yang diperlukan untuk memenuhi panggilan margin.
        </p>        
        <p>
            Setor dana tambahan: Transfer dana yang diperlukan ke akun perdagangan Anda sesegera mungkin. Hal ini akan membantu mengembalikan ekuitas akun Anda ke level margin yang diperlukan dan melindungi posisi Anda dari kemungkinan likuidasi.
        </p>        
        <p>
            Hubungi tim dukungan kami: Jika Anda memerlukan bantuan atau memiliki pertanyaan mengenai panggilan margin ini, tim dukungan kami siap membantu. Silakan menghubungi mereka melalui telepon atau email seperti yang tercantum di bawah ini.
        </p>            
        <p>
            Harap diperhatikan bahwa jika panggilan margin tidak dipenuhi dalam jangka waktu yang ditentukan, dapat mengakibatkan likuidasi posisi Anda untuk menutupi kebutuhan margin yang masih tertinggal. Hal ini berpotensi menyebabkan kerugian keuangan yang signifikan.
        </p>        
        <p>
            Kami memahami bahwa kondisi pasar dapat berfluktuasi dan perubahan nilai akun secara tiba-tiba dapat terjadi. Penting untuk memantau akun Anda secara teratur dan mengambil tindakan yang sesuai untuk mengelola paparan risiko secara efektif.
        </p>        
        <p>
            Kami sangat menyarankan Anda untuk bertindak dengan cepat dan menangani panggilan margin ini untuk memastikan kelangsungan operasi akun Anda dan melindungi investasi Anda.
        </p>        
        <p>
            Terima kasih atas perhatian segera Anda terhadap masalah ini. Jika Anda memiliki pertanyaan atau membutuhkan klarifikasi lebih lanjut, jangan ragu untuk menghubungi tim dukungan kami. Kami siap membantu Anda sepanjang proses ini.
        </p>        
        <p>
            Salam hormat,
            <strong style="display: block;">
                KriptoKu Team.
            </strong>
        </p>        
        

    </div>
    <div class="footer">

        <p>
            Punya pertanyaan? <a href="https://kriptoku.net/contact">Hubungi kami! </a>
        </p>

        <p>
            Layanan Pelanggan tersedia selama 24/7
        </p>

        <hr>

        <div class="text-muted footer-copy">

            <p>Pastikan bahwa alamat surel Anda tidak jatuh ke tangan orang lain.
                Kami memegang teguh Kebijakan Privasi</p>

            <p>© <%= new Date().getFullYear() %> KriptoKu</p>
        </div>
    </div>
</div>
</body>
</html>